<%= form_for(@participaton) do |f| %>
  <% if @participaton.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participaton.errors.count, "error") %> prohibited this participaton from being saved:</h2>

      <ul>
      <% @participaton.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quiz_id %><br>
    <%= f.number_field :quiz_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
