<h1>Listing quiz_questions</h1>

<table>
  <thead>
    <tr>
      <th>Quiz</th>
      <th>Question</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_questions.each do |quiz_question| %>
      <tr>
        <td><%= quiz_question.quiz_id %></td>
        <td><%= quiz_question.question_id %></td>
        <td><%= quiz_question.position %></td>
        <td><%= link_to 'Show', quiz_question %></td>
        <td><%= link_to 'Edit', edit_quiz_question_path(quiz_question) %></td>
        <td><%= link_to 'Destroy', quiz_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz question', new_quiz_question_path %>
