<h1>Listing given_answers</h1>

<table>
  <thead>
    <tr>
      <th>Participation</th>
      <th>Quiz question</th>
      <th>Answer choice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @given_answers.each do |given_answer| %>
      <tr>
        <td><%= given_answer.participation_id %></td>
        <td><%= given_answer.quiz_question_id %></td>
        <td><%= given_answer.answer_choice_id %></td>
        <td><%= link_to 'Show', given_answer %></td>
        <td><%= link_to 'Edit', edit_given_answer_path(given_answer) %></td>
        <td><%= link_to 'Destroy', given_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Given answer', new_given_answer_path %>
