= f.label :first_name
= f.text_field :last_name
%br
= f.label :last_name
= f.text_field :last_name
%br
= f.label :nick_name
= f.text_field :nick_name
%br
= f.label :user_image
= f.file_field :user_image