%h1
  = @user.nick_name
  = image_tag @user.user_image.thumb.url

- @user.participations.each do |participation|
  %h2
    Game name:
    = participation.game.try(:name)
  %h2
    Quiz name:
    = participation.game.quiz.name

  %h2
    current score:
    = participation.current_score
    out of
    = participation.game.quiz.questions.count

  = link_to "Play Game", game_path(participation.game)
  %br