/ - if @participation.current_quiz_question.position <= @game.current_quiz_question.position && !@participation.answered_quiz_question_ids.include?(@participation.current_quiz_question.id) 
/   = image_tag @participation.current_quiz_question.question.question_image.detail.url
  
/   = @participation.current_quiz_question.question.question
  
/   - @participation.current_quiz_question.question.answer_choices.shuffle.each do |answer|
/     = button_to answer.answer, game_given_answer_path(@game, @participation.current_quiz_question, answer), class: "button tiny radius"
    
/ - else
/   %h2 Please wait for others to answer

- if @game.current_quiz_question.present?
  
  = image_tag @participation.current_quiz_question.question.question_image.detail.url
    
  = @participation.current_quiz_question.question.question
  
  - @participation.current_quiz_question.question.answer_choices.shuffle.each do |answer|
    = button_to answer.answer, game_given_answer_path(@game, @participation.current_quiz_question, answer), class: "button tiny radius"

- elsif @game.over?
  = "Game over"
- else
  = "Please wait for others to answer"


/ = @game.current_quiz_question.inspect
/ = @game.number_of_questions_answered