.game_results
  %h1 Results
  - @games.each do |game|
    %h2
      Results for:
      = game.name
    %p
      Game status
      = game.status
    - game.participations.each do |player|
      %li.block
        = player.user.nick_name
        got:
        = player.current_score
        out of
        = player.game.quiz.questions.count