%h1
  = @game.name

%h2
  =@game.creator.try(:nick_name)

- if @game.playing?
  - if @participation.current_quiz_question
    - if @participation.current_quiz_question.position <= @game.current_quiz_question.position && !@participation.answered_quiz_question_ids.include?(@participation.current_quiz_question.id) 
      = @participation.current_quiz_question.question.question
      %br
      - @participation.current_quiz_question.question.answer_choices.shuffle.each do |answer|
        = button_to answer.answer, game_given_answer_path(@game, @participation.current_quiz_question, answer)
      %br
    - else
      please wait for others to answer
  - else
    - @game.finish!
    You have finished!

  - @participation.given_answers.each do |given_answer|
    %p
      For the question "
      = given_answer.quiz_question.question.question
      ", you said 
      = given_answer.answer_choice.answer
    - if given_answer.answer_choice.correct
      %p
        Correct, well done
    - else
      %p
        Wrong, not so great
- elsif @game.finished?
  %p
    This game has finished - you didn't win!
- else
  %p
    Please wait for players

/ if game playing/
/   if @participation has answered game current question
/     please refresh
/   else
/     show question and let answer
/   end
/ else/
/   please wait/
/ end/