<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz:</strong>
  <%= @game.quiz_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @game.creator_id %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
