.fixed
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1
          = link_to 'Quizzery'
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li.has-dropdown
          = link_to 'Games', games_path if can? :read, Game
          %ul.dropdown
            %li
              = link_to 'Create Game', new_game_path
        %li.has-dropdown
          = link_to 'Quizzes', quizzes_path if can? :read, Quiz
          %ul.dropdown
            %li
              = link_to 'Create quiz', new_quiz_path
        %li.has-dropdown
          = link_to 'Questions', questions_path if can? :read, Question
          %ul.dropdown
            %li
              =link_to 'New Question', new_question_path
      - if current_user
        %ul.left
          %li.has-dropdown
            = link_to current_user.email, user_path(current_user)
            %ul.dropdown
              %li
                = link_to "Log out", destroy_user_session_path, method: :delete
              %li
                = link_to 'Edit profile', edit_user_path(current_user)
      - else
        %ul.left
          %li
            = link_to "Sign In", new_user_session_path
          %li
            = link_to "Register", new_user_registration_path
          %li
            = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)