%nav
  - if current_user
    %li.username
      = current_user.email 
    %li
      = link_to "Log out", destroy_user_session_path, method: :delete
  - else
    %li
      = link_to "Sign In", new_user_session_path
    %li
      = link_to "Register", new_user_registration_path
  
  %li
    = link_to 'Create quiz', new_quiz_path
  %li
    = link_to 'Create Game', new_game_path
  %li
    = link_to 'Games', games_path
  %li
    = link_to 'Quizzes', quizzes_path
  %li
    = link_to 'Questions', questions_path
  %li
    =link_to 'New Question', new_question_path