.fixed
  %nav.top-bar{:data => "topbar", :role =>"navigation"}
    %ul.title-area
      %li.name
        = link_to 'Quizzery'
      %li.toggle-topbar.menu-icon
        =link_to "#"
        %span Menu

    %section.top-bar-section
      %ul.right
        %li.has-dropdown
          = link_to 'Games', games_path if can? :read, Game
          %ul.dropdown
            %li
              = link_to 'Create Game', new_game_path
        %li.has-dropdown
          = link_to 'Quizzes', quizzes_path if can? :read, Quiz
          %ul.dropdown
            %li
              = link_to 'Create quiz', new_quiz_path
        %li.has-dropdown
          = link_to 'Questions', questions_path if can? :read, Question
          %ul.dropdown
            %li
              =link_to 'New Question', new_question_path
              
      %ul.left
      - if current_user
        %li.has_dropdown
          = link_to current_user.email, user_path(current_user)
          %ul.dropdown
            %li
              = link_to "Log out", destroy_user_session_path, method: :delete
            %li
              = link_to 'Edit profile', edit_user_path(current_user)
      - else
        %li.nav-link
          = link_to "Sign In", new_user_session_path
        %li.nav-link
          = link_to "Register", new_user_registration_path
        %li.nav-link
          = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)